*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.logo{
    font-weight:bold;
}
.nav2 {
    display: flex;
   gap: 40px;
}
a{
    cursor:pointer;
    font-size:14px;
   
}
.container2{
    width:100%;
    height:200px;
    background-color: rgb(230, 232, 233);
    margin-top: 20px;
   text-align: center;
}
.contact{ 
  padding-top: 80px;
}
a,span{
    text-decoration: none;
    color :inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.tick{
  border:1px solid red;
  border-radius:50%;
  padding:2px 6px;
  font-size:10px;
  color:red;
  margin-left:5px;
}
button{
  margin-top:20px;
  background:red;
  color:white;
  border:none;
  padding:10px 25px;
  border-radius:20px;
  cursor:pointer;
  width: 100px;
}
.container3{
  width:100%;
  display:flex;
  justify-content:center;
  padding:40px 20px;
}

.box{
  width:100%;
  max-width:500px;   
  display:flex;
  flex-direction:column;
  gap:15px;
}

label{
  font-size:14px;
  color:#333;
  margin-bottom:5px;
}

.tick{
  color:rgb(247, 13, 9);
  font-weight:bold;
}

input, textarea{
  width:100%;
  padding:10px;
  border:1px solid #ccc;
  border-radius:20px;
  font-size:14px;
}
.row{
  display:flex;
  gap:20px;
}

.row > div{
  flex:1;
}

@media (max-width:600px){
  .row{
    flex-direction:column;  
  }
}

.nine{
  width: 100%;
    height: 180px;
    border:1px solid;
    margin-top: 600px;
    margin: 0;
    padding: 0;
    background-color: rgb(57, 56, 56);
  
  }
  .n2{
     display: flex; 
     gap:30px; 
     color:aliceblue;
     font-size: 10px;
  }
  .n3{
    display: flex;
    gap:10px; 
  }
  .n1,.n2,.n3{
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  a{
  text-decoration: none;
  color: inherit;
}
.n{
    display:flex;
    /* justify-content: space-around; */
    justify-content: space-evenly;
}
.nine hr{
  width: 80%;
  height: 1px;
  margin: 20px 0;
  margin-left: 10%;
  color: #666;
}
pre{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 11px;
 margin-left: 480px;
  color:#666;
}
.copyright{
  text-align: center;
  font-size: 11px;
  color: #666;
  margin: 10px 0;
}
